#feedback-responses {
  & th {
    font-size: 1em;
    text-align: start;
    padding-right: 1.5em;
  }

  & td {
    font-size: 1.2em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
  }

  & button {
    font-size: 0.8em;
    border: 1px solid rgb(255, 62, 94);
    color: rgb(255, 62, 94);
    background-color: transparent;
  }
}