#feedback-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 1em;
  background-color: #eee;
  border-top: 2px solid lightskyblue;
  border-right: 2px solid lightskyblue;
  border-left: 2px solid lightskyblue;
  border-radius: 10px 10px 0 0;
  padding: 0.5em;
  z-index: 10;
  transition: bottom 2s;
}

#feedback-form>div {
  font-size: 1em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
}

.feedback-form-arrow-up {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.feedback-form-arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#feedback-form>div>button {
  background-color: transparent;
  font-size: 1.2em;
  align-self: center;
  margin-right: 0.5em;
}

#feedback-form h2 {
  margin: 0;
  font-size: 1.5em;
}

#feedback-form>label {
  margin-bottom: 0.5em;
}

#feedback-form>textarea {
  font-size: 1em;
  font-family: sans-serif;
  padding: 0.5em;
}

#feedback-form>button {
  margin-top: 0.5em;
  align-self: flex-end;
  padding: 0.5em 1em;
}